@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.section-head {
    color: #fff;
    text-align: center
}
.section-head .colStyle{
    /* padding: 0; */
    background-color: #69a2b0
}
.section-head .row-space{
    height:10px;
    background-color: #90bac4
}
.grid{
    /* background-color: #69a2b0 */
}
.radioBtn{
    text-align: left;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: center;
    align-items:center;
}
.section-head .bg-success{
    background-color: #659157 !important
}